html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: left; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none; /* map remains draggable */
}

#map svg circle {
  fill: steelblue;
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1px;
  pointer-events: auto; /* circles allow hover */
}

header#controls {
  display: flex;
  gap: 1em;
  align-items: baseline;
  padding: 0 1em;
  width: 100%;
}

header#controls label {
  margin-left: auto; /* Push slider + label to the right */
  display: flex;
  flex-direction: flex-end; /* Stack slider, time, (any time) */
  font-size: 0.9rem;
}

header#controls time,
header#controls em {
  display: block;
  margin-top: 4px;
}

header#controls em {
  color: gray;
  font-style: italic;
}

#time-slider {
  width: 500px;
  cursor: pointer;
}


